<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>
</head>
<body>
    <h1>Project List</h1>
    <a href="/projects/new">Create New Project</a>
    <ul>
        <% projects.forEach(function(project) { %>
            <li>
                <a href="/projects/<%= project._id %>"><%= project.name %></a>
                <a href="/projects/<%= project._id %>/edit">Edit</a>
                <form action="/projects/<%= project._id %>" method="POST" style="display:inline;">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
