<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <a href="/tasks/new">Create New Task</a>
    <ul>
        <% tasks.forEach(function(task) { %>
            <li>
                <a href="/tasks/<%= task._id %>"><%= task.title %></a> - <%= task.status %>
                <a href="/tasks/<%= task._id %>/edit">Edit</a>
                <form action="/tasks/<%= task._id %>" method="POST" style="display:inline;">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
